#summary_batsmen_item {
    height: 30px;
    width: 90%;
    /* margin-top: 1px; */
    display: flex;
    border-radius: 1px;
    overflow: hidden;
}

#summary_batsmen_item:hover {
    /*border: 0.5px solid white;*/
    opacity: 0.8;
}

/* .playername,
.batsman_score,
.runs,
.balls,
.not_out {

} */

.summary_batsman_playername {
    width: 70%;
    /*border-radius: 2px;*/
    padding-left: 10px;
    padding-top: 0.4rem;
    font-size: 0.9rem;
    font-weight: 600;
}

.summary_batsman_score {
    width: 30%;
    /*border-radius: 2px;*/
    padding-top: 0.2rem;
    display: flex;
}

#summary_batsman_score_runs {
    width: 45%;
    text-align: right;
    font-weight: 700;
    font-size: 1rem;
}

#summary_batsman_score_notout {
    width: 20%;
    padding-top: 0;
    font-size: 1rem;
    font-weight: 700;
}


#summary_batsman_score_balls {
    width: 35%;
    font-weight: 400;
    font-size: 0.7rem;
    padding-top: 4px;

}

