.summary {
    width: 600px;
    height: fit-content;
    padding: 3px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
}
.summary_parent {
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: fit-content;
}
.summary_boxes {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    padding: 20px;
}
