.meta_parent {
    display: flex;
    flex-direction: column;
    padding: 3px;
    border: 1px dotted black;
    width: fit-content;
}

.meta_item {
    display: flex;
    flex-direction: row;
    height: 40px;
    border-top: 2px solid white;
    font-size: 1rem;
    font-weight: 500;
    width: fit-content;
    text-align: center;
    padding-top: 10px;
    border-radius: 3px;
}
.meta_playername {
    width: 200px;
}
.meta_header {
    display: flex;
    flex-direction: row;
    font-size: 0.8rem;
    font-weight: 600;
    text-align: center;
}
.meta_sort_buttons {
    display: flex;
    flex-direction: row;
    font-size: 0.8rem;
    font-weight: 600;
    text-align: center;
    height: 40px;
    padding-top: 5px;
    cursor: default;
}
.meta_field1 {
    width: 80px;
    /*border-left: 1px solid white;*/
}
.meta_field2 {
    width: 100px;
}
.meta_field3 {
    width: 50px;
}
.meta_button_empty1 {
    width: 50px;
}
.meta_button_empty2 {
    width: 200px;
}
.meta_button1 {
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.meta_button2 {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.meta_button3 {
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sort_button {
    width: 40px;
    text-align: center;
    border: 1px solid black;
    border-radius: 4px;
    font-weight: 400;
    height: 25px;
    padding-top: 3px;
}
.sort_button:hover {
    border: 2px solid black;
    padding-top: 2px;
}
.button_off {
    background-color: white;
    color: gray;
}
.button_highest {
    background-color: red;
    color: white;
}
.button_lowest {
    background-color: forestgreen;
    color: white;
}
.meta_bold {
    font-weight: 700;
    font-size: 1.1rem;
}
.meta_field_best {
    display: flex;
    flex-direction: row;
}
.meta_field_best_runs {
    width: 60px;
    text-align: right;
    font-weight: 700;
}
.meta_field_best_balls,
.meta_field_best_overs {
    width: 40px;
    padding-left: 5px;
    font-size: 0.8rem;
    font-weight: 400;
    padding-top: 0.2rem;
}
.meta_field_best_fig {
    width: 65px;
    text-align: right;
    font-weight: 700;
}
