.squad-page-schedules {
  width: fit-content;
}
.squad-page {
  display: flex;
  justify-content: space-around;
}
.squad-schedule-header {
  background-color: var(--dark);
  color: white;
  height: 40px;
}