.milestone_box {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    background-color: white;
    padding: 3px;
    box-shadow: var(--shadow-border);
    width: 600px;
}
.milestone_box_label {
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
}
.milestone_parent {
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    margin-bottom: 1px;
}
.milestone {
    display: flex;
    align-items: center;
    padding-left: 10px;
    font-size: 0.9rem;
    font-weight: 600;
    height: 35px;
    border-radius: 2px;
}
.milestone_previous {
    display: flex;
    align-items: center;
    padding-left: 10px;
    font-size: 0.9rem;
    font-weight: 600;
    height: 35px;
    color: black;
}
