.batsman-list {
  padding: 2px;
}

.batsman-list-item{
  width: fit-content;
  height: fit-content;
  padding: 2px;
  padding-right: 5px;
  align-items: center;
  justify-content: center;
  /* margin-bottom: 1px; */
}

.batsman-list-opacity {
  opacity: 0.9;
}