.arrow {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 5px;
    vertical-align: middle;
    content: '';
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.arrow.open {
    transform: rotate(180deg);
}

.dropdown {
    height: fit-content;
    width: fit-content;
    font-size: 1rem;
    font-weight: 600;
}
.dropdown-toggle {
    height: 40px;
    width: 80px;
    background-color: var(--white);
    color: var(--dark);
    font-size: 1rem;
    font-weight: 600;
    /*box-shadow: 0 4px 8px 0 lightskyblue, 0 6px 20px 0 lightskyblue;*/
    border: 1px solid lightskyblue;
}
.dropdown-menu {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}
.dropdown-item {
    height: 25px;
    width: 78px;
    display: flex;
    font-weight: 600;
    font-size: 0.8rem;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    color: var(--dark);
}
.dropdown-item:hover {
    background-color: grey;
}

.players_page {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: fit-content;
}
.players_page_drop_down {
    display: flex;
    height: 40px;
    z-index: 1;
}
.players_page_players {
    display: flex;
    flex-direction: column;
    height: fit-content;
}
