#match_page {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

#match_page_item1 {
    margin-top: 40px;
    width: 100%;
    padding: 0 5px;
    padding-left: 100px;
}
