.bowling_card {
    display: flex;
    flex-direction: column;
    padding: 3px;
    height: fit-content;
    width: 600px;
}
.bowling_card_label {
    height: 35px;
}
#bowling_card_header {
    display: flex;
    flex-direction: column;
    height: 80px;
    width: 100%;
}

.bowling_card_header1{
    text-align: center;
    height: 40px;
    padding-top: 0.5rem;
    font-size: 1.2rem;
    font-weight: 700;
}

.bowling_card_header2{
    height: 40px;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 0.7rem;
    border-top: 1px solid white;
}

#bowling_card_name{
    width: 30%;
    text-align: center;
    font-size: 1rem;
}

.bowling_card_header2_items {
    width: 15%;
    text-align: center;
    font-size: 1rem;
}

.bowling_card_bowleritem {
    display: flex;
    flex-direction: row;
    height: 40px;
    padding-top: 0.6rem;
    border-top: 1px solid white;
    border-radius: 2px;
}

.bowling_card_bowleritem:hover {
    border: 1px solid white;
}

#bowling_card_bowleritem_name {
    width: 30%;
    font-size: 1rem;
    padding-left: 12px;
    font-weight: 600;
}

.bowling_card_bowleritem_items {
    font-size: 1rem;
    width: 15%;
    text-align: center;
}

.bold_1 {
    font-weight: 600;
    font-size: 1.1rem;
}

.er_1 {
    text-align: right;
    padding-right: 1.5rem;
}
.bowling_card_parent {
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: fit-content;
}
.bowling_card_boxes {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    padding: 20px;
}