/* .photo_card {
    border-radius: 50%;
    background-color: aqua;
} */
.img_wrapper {
    cursor: default;
    border-radius: 50%;
}
.img_wrapper:hover {
    opacity: 0.8;
}

.photocard_outline {
    border-radius: 50%;
}
.photo_card_pic{
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
}
