.searchbar_suggestions {
    margin-left: 10px;
    margin-right: 10px;
}
.sb_suggestion {
    padding-left: 10px;
    text-decoration: none;
    cursor: default;
    color: black;
}
.sb_suggestion:hover {
    background-color: grey;
    color: white;
}
