.topbar {
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: center;
    background-color: white;
    font-size: 1rem;
    font-weight: 600;
    position: fixed;
    width: 92%;
    border-bottom: 1px solid lightgray;
    /*box-shadow: var(--shadow-border);*/
}
.topbar_item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 36px;
    text-decoration: none;
    color: black;
    cursor: default;
    margin: 4px 0;
}
.topbar_item:hover {
    color: var(--analysis1);
}
.topbar_selected {
    margin-bottom: 1px;
    border-bottom: 3px solid black;
}
