.topbar {
    display: flex;
    height: 45px;
    align-items: center;
    justify-content: center;
    background-color: var(--analysis1);
    font-size: 0.9rem;
    font-weight: 600;
    position: fixed;
    width: 92%;
    border-bottom: 1px solid lightgray;
    /*box-shadow: var(--shadow-border);*/
}
.topbar_item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 38px;
    text-decoration: none;
    color: white;
    cursor: default;
}
.topbar_item:hover {
    color: var(--analysis2);
    border-bottom: 2px solid var(--analysis2);
}
.topbar_selected {
    color: var(--analysis2);
    border-bottom: 2px solid var(--analysis2);
}
