.journey_box_parent {
    display: flex;
    flex-direction: column;
    padding: 3px;
    border: 1px solid black;
    margin: 20px;
}
.journey_box_teamname {
    font-size: 1.1rem;
    font-weight: 600;
    padding-top: 0.4rem;
    text-align: center;
    height: 40px;
}
.journey_box {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
}
.journey_item {
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: 40px;
    border-top: 1px solid white;
    font-size: 0.9rem;
    font-weight: 600;
    padding-top: 0.6rem;
}
.journey_item_result {
    width: 220px;
}
.journey_vs_team {
    width: 120px;
    padding-left: 15px;
}
.green {
    background-color: forestgreen;
    color: white;
}
.red {
    background-color: red;
    color: white;
}
