.manhatten {
    display: flex;
    flex-direction: column;
    width: 700px;
    height: fit-content;
    padding: 3px;
}

#manhatten_1 {
    display: flex;
    flex-direction: column;
    height: 80px;
}

#manhatten_2 {
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.manhatten_1_1 {
    height: 50%;
    text-align: center;
    padding-top: 0.5rem;
    font-weight: 600;
    font-size: 1.2rem;
}

.manhatten_1_2 {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 0.7rem;
    text-align: right;
    font-size: 1rem;
}

#manhatten_1_2_1 {
    width: 6%;
    text-align: center;
}
#manhatten_1_2_2 {
    width: 24%;
    text-align: center;
}
#manhatten_1_2_3 {
    width: 14%;
    text-align: right;
    padding-right: 8px;
}
#manhatten_1_2_4,
#manhatten_1_2_5,
#manhatten_1_2_6,
#manhatten_1_2_7,
#manhatten_1_2_8,
#manhatten_1_2_9 {
    width: 10%;
    text-align: right;
}

#manhatten_2_1 {
    height: 25px;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 2px;
}

#manhatten_2_1_1 {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

#manhatten_2_1_2 {
    width: 6%;
}

.manhatten_2_1_1_1 {
    width: 20%;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.manhatten_2_1_1_2 {
    width: 80%;
    font-size: 0.9rem;
    padding-left: 10px;
    display: flex;
    align-items: center;
    font-weight: 500;
}

#manhatten_2_1_3 {
    width: 64%;
    display: flex;
    flex-direction: row;
}

.manhatten_2_1_3_1 {
    width: 10%;
    font-size: 0.8rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

.manhatten_2_1_3_3 {
    margin: 4px;
    width: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.5rem;
    font-weight: 600;
}
