.player_home {
    margin: 20px;
    margin-bottom: 100px;
}
.player_profile {
    padding: 5px;
    padding-top: 20px;
}
.pp_info {
    background-color: #1f2021;
}
.pp_info_label {
    padding-left: 10px;
    /*background-color: #494a4d;*/
    /*color: lightgray;*/
    margin: 1px 0;
    opacity: 0.8;
}
.pp_info_value {
    /*background-color: #494a4d;*/
    margin: 1px 0;
    padding-left: 10px;
}

.player_trophy_cabinet {
    padding: 3px;
}
.trophy_box1 {
    background-color: #1f2021;
    margin-top: 1px;
}
.trophy_box1_header {
    background-color: #494a4d;
    color: lightgray;
}
