.sidebar-item {
    width: 12rem;
    border-radius: 2px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    margin: 0.3rem;
    /* transition: all 0.4ms ease; */
}

.sidebar-item:hover {
    color: var(--dark);
    background-color: var(--white);
}
