.sidebar {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /*background-color: #29487d;*/
    background-color: var(--dark);
    color: var(--white);
    border-right: 1px solid var(--white);
    font-family: Poppins, Sans-Serif;
}
