.sidebar {
    height: 3rem;
    width: 100%;
    display: flex;
    background-color: var(--dark);
    color: var(--white);
    font-family: Poppins, Sans-Serif;
    font-size: 14px;
    font-weight: 500;
    justify-content: center;
    position: fixed;
    z-index: 3;
}
