.sidebar-item {
    padding: 20px;
    text-decoration: none;
    text-align: center;
    color: var(--white);
    transition: all 0.4ms ease;
    /*border-bottom: 1px solid var(--white);*/
    /* border-radius: 2px; */

}

.sidebar-item:hover {
    color: var(--dark);
    background-color: var(--white);
    cursor: default;
}
