.squad-performers {
  padding: 10px;
  height: fit-content;
}

.performer-box {
  margin-bottom: 20px;
  width: fit-content;
}

.squad-performers-rows {
  justify-content: space-evenly;
  width: 800px;
}

.captain-box {
  margin-bottom: 20px;
  width: fit-content;
}