.schedule-box-container {
  text-decoration: none;
  height: 40px;
  color: black;
  width: fit-content;
  padding: 6px;
  display: flex;
  align-items: center;
}

.bg-red {
  background-color: red;
  color: white;
}

.bg-green {
  background-color: green;
  color: white;
}
.schedule-result-box {
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}