#webpage_layout {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    display: flex;
}

#webpage_layout2 {
    display: flex;
    flex-direction: column;
    width: 92%;
    margin-left: 8%;
}

#webpage_layout_item1 {
    width: 8%;
    height: 100%;
    position: fixed;
    z-index: 20;
}

.webpage_layout_item2 {
    height: fit-content;
    padding-bottom: 50px;
    padding-right: 50px;
    margin-left: 5%;
}

.webpage_layout_item2_margin {
    margin-top: 45px;
}
