#match_topbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    color: white;
}

#match_topbar_item1 {
    background-color: #28a745;
    border-right: 1px solid white;
    height: 100%;
    width: 20%;
    padding: 10px 15px;
    display: flex;
    flex-direction: row;
    font-weight: 550;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-around;
}

#match_topbar_item2 {
    background-color: #1877f2 ;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;
    /* padding: 8px 12px; */
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;

}

.match_topbar_item1_items {
    height: 100%;
    width: 40%;
    border-radius: 5px;
    text-align: center;
    padding-top: 8px;
    text-decoration: none;
    color: white;


}

.match_topbar_green {
    background-color: white;
    color: #28a745;
    border: 1px solid white;
}

.match_topbar_white:hover {
    background-color: rgb(113, 201, 107);
    color: white;
}

.match_topbar_white {
    border: 1px solid white;
}



.match_topbar_item2_items {
    height: 100%;
    width: 150px;
    padding-top: 18px;
    border-right: 1px solid white;
    text-decoration: none;
    color: white;
}

.match_topbar_item2_items:hover {
    background-color: #5898ff;
    color: white;
}

.match_topbar_item2_white {
    background-color: white;
    color: #1877f2;

}

.match_topbar_item2_white:hover {
    background-color: white;
    color: #1877f2;
}
