.playerbox {
    display: flex;
    flex-direction: column;
    width: 120px;
    height: fit-content;
    padding: 3px;
    background-color: white;
    box-shadow: var(--shadow-border);
}
.playerbox:hover {
    background-color: var(--dark);
}
.playerbox_header1 {
    height: 20px;
    font-weight: 600;
    font-size: 0.7rem;
    text-align: center;
    padding-top: 0px;
}
.playerbox_name {
    height: 30px;
    font-weight: 600;
    font-size: 0.8rem;
    text-align: center;
    padding-top: 8px;
}
