#player_page {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

#player_page_item1 {
    height: 8%;
    width: 100%;
    position: fixed;
}

#player_page_item2 {
    height: 92%;
    margin-top: 8%;
    width: 100%;
    padding: 0 5px;
    padding-left: 100px;
}