.partnerships {
    display: flex;
    flex-direction: column;
    width: 700px;
    height: fit-content;
    padding: 3px;
    border: 1px dotted black;
}

#partnership_header {
    display: flex;
    flex-direction: column;
    height: 80px;
    width: 100%;
}

.partnership_header1{
    text-align: center;
    height: 40px;
    padding-top: 0.5rem;
    font-size: 1.2rem;
    font-weight: 600;
}

.partnership_header2{
    text-align: center;
    height: 40px;
    padding-top: 0.5rem;
    font-size: 1.2rem;
    font-weight: 500;
}

.partnership_item {
    display: flex;
    flex-direction: row;
    height: 80px;
    width: 100%;
    border-top: 4px solid white;
}

.partnership_namebox {
    height: 100%;
    width: 15%;
    display: flex;
    flex-direction: column;
    border-radius: 2px;
}

.partnership_namebox_name {
    height: 50%;
    text-align: center;
    padding-top: 0.6rem;
    font-size: 0.9rem;
    font-weight: 500;
}

.partnership_namebox_score {
    height: 50%;
    display: flex;
    flex-direction: row;
    padding-top: 0.5rem;
}

.partnership_namebox_score_runs {
    width: 60%;
    font-weight: 600;
    text-align: right;
    padding-right: 10px;
}

.partnership_namebox_score_balls {
    width: 40%;
    height: 100%;
    font-weight: 400;
    font-size: 1rem;
    padding-top: 0.2rem;
}

#graphic_box {
    display: flex;
    flex-direction: column;
    width: 70%;
}

#graphic_box_2 {
    display: flex;
    flex-direction: row;
    height: 50%;
    padding-top: 00.5rem;
}

#graphic_box_2_runs {
    width: 50%;  
    text-align: right;
    padding-right: 3px;
    font-weight: 600;
}
#graphic_box_2_balls {
    width: 50%;  
    padding-left: 3px;
    font-weight: 400;
    font-size: 1rem;
    padding-top: 0.2rem;
}

#graphic_box_graphics {
    height: 30%;
    display: flex;
    flex-direction: row;
}

.graphic_box_graphics_b1_2 {
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
}
.graphic_box_graphics_b2_1 {
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
}

#graphic_box_empty_space {
    width: 2%;
}

#graphic_box_empty_space_top {
    height: 20%;
}