.schedule-matchbox {
  border-radius: 4px;
  background-color: white;
  padding: 4px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.schedule-header {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}
.schedule-title {
  color: gray;
  height: 20px;
  padding-left: 10px;
  width: 50%;
}
.schedule-stage {
  height: 20px;
  padding-right: 10px;
  color: black;
  width: 48%;
  display: flex;
  justify-content: flex-end;
}
.schedule-result {
  font-size: 0.8rem;
  font-weight: 600;
  padding-left: 10px;
  width: 280px;
  height: 30px;
  border-radius: 4px;
}
.schedule-venue {
  height: 25px;
  font-weight: 600;
  font-size: 0.8rem;
  color: black;
}
.schedule-teambox {
  height: 60px;
  width: 220px;
  display: flex;
  align-items: center;
  margin: 2px;
  border-radius: 3px;
}