.schedule-matchbox {
  border-radius: 4px;
  background-color: white;
  padding: 4px;
  margin: 6px;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.schedule-header {
  display: flex;
  justify-content: flex-start;
  width: 80px;
  height: 66px;
}
.schedule-title {
  color: gray;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.schedule-stage {
  height: 20px;
  color: black;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.schedule-result {
  font-size: 0.8rem;
  font-weight: 600;
  padding-left: 10px;
  width: 300px;
  display: flex;
  height: 35px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}
.schedule-venue {
  width: 100px;
  font-weight: 600;
  font-size: 0.8rem;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.schedule-teambox {
  height: 60px;
  width: 220px;
  display: flex;
  align-items: center;
  margin: 2px;
  border-radius: 3px;
}