/*.navbarx{*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    align-items: center;*/
/*    height: 400px;*/
/*    margin-right: 0;*/
/*    background-color: #fefefe;*/
/*    padding: 40px;*/
/*    justify-content: center;*/
/*    align-self: center;*/
/*}*/

#home_navbar {
    display: flex;
    margin: 50px;
    flex-wrap: wrap;
    align-items: center;
    gap: 150px;
    justify-content: center;
}
