/*.navbarx{*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    align-items: center;*/
/*    height: 400px;*/
/*    margin-right: 0;*/
/*    background-color: #fefefe;*/
/*    padding: 40px;*/
/*    justify-content: center;*/
/*    align-self: center;*/
/*}*/

#home_navbar {
    width: fit-content;
    height: fit-content;
    padding: 20px 0;
    /*background-color: var(--color2);*/
    /*border-bottom: 1px solid var(--color1);*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}
