.pt {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    cursor: default;
}

.pt_group {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}

.pt_header{
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: 30px;
    font-size: 1rem;
    font-weight: 400;
}

.pt_header_items_1{
    width: 115px;
    text-align: center;
}

.pt_header_items_2,
.pt_header_items_3,
.pt_header_items_4,
.pt_header_items_5{
    width: 50px;
    color: black;
    text-align: center;
}
.pt_header_items_6 {
    width: 70px;
    color: black;
    text-align: center;
}

.pt_team {
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: 35px;
    font-size: 0.9rem;
    font-weight: 400;
    border-bottom: 1px solid white;
    padding-top: 0.4rem;
    border-radius: 1px;
}
.pt_team:hover {
    border: 2px solid black;
}

.pt_team_no{
    width: 30px;
    padding-left: 10px;
}
.pt_team_Team{
    width: 85px;
    font-weight: 600;
}

.pt_team_P,
.pt_team_W,
.pt_team_L,
.pt_team_Pts{
    width: 50px;
    text-align: center;
}

.pt_team_NRR{
    width: 70px;
    text-align: center;
}
.pt_parent {
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: fit-content;
}
.pt_journey_box {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.meta_parent {
    display: flex;
    flex-direction: column;
    padding: 3px;
    border: 1px dotted black;
    width: fit-content;
}

.meta_item {
    display: flex;
    flex-direction: row;
    height: 40px;
    border-top: 2px solid white;
    font-size: 1rem;
    font-weight: 500;
    width: fit-content;
    text-align: center;
    padding-top: 10px;
    border-radius: 3px;
}
.meta_playername {
    width: 200px;
}
.meta_header {
    display: flex;
    flex-direction: row;
    font-size: 0.8rem;
    font-weight: 600;
    text-align: center;
}
.meta_sort_buttons {
    display: flex;
    flex-direction: row;
    font-size: 0.8rem;
    font-weight: 600;
    text-align: center;
    height: 40px;
    padding-top: 5px;
    cursor: default;
}
.meta_field1 {
    width: 80px;
    /*border-left: 1px solid white;*/
}
.meta_field2 {
    width: 100px;
}
.meta_field3 {
    width: 50px;
}
.meta_button_empty1 {
    width: 50px;
}
.meta_button_empty2 {
    width: 200px;
}
.meta_button1 {
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.meta_button2 {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.meta_button3 {
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sort_button {
    width: 40px;
    text-align: center;
    border: 1px solid black;
    border-radius: 4px;
    font-weight: 400;
    height: 25px;
    padding-top: 3px;
}
.sort_button:hover {
    border: 2px solid black;
    padding-top: 2px;
}
.button_off {
    background-color: white;
    color: gray;
}
.button_highest {
    background-color: red;
    color: white;
}
.button_lowest {
    background-color: forestgreen;
    color: white;
}
.meta_bold {
    font-weight: 700;
    font-size: 1.1rem;
}
.meta_field_best {
    display: flex;
    flex-direction: row;
}
.meta_field_best_runs {
    width: 60px;
    text-align: right;
    font-weight: 700;
}
.meta_field_best_balls,
.meta_field_best_overs {
    width: 40px;
    padding-left: 5px;
    font-size: 0.8rem;
    font-weight: 400;
    padding-top: 0.2rem;
}
.meta_field_best_fig {
    width: 65px;
    text-align: right;
    font-weight: 700;
}



