.flex-row {
    display: flex;
}
.flex-col {
    display: flex;
    flex-direction: column;
}
.wrap {
    flex-wrap: wrap;
}
.gap-20 {
    gap: 20px;
}
.gap-30 {
    gap: 30px;
}
.gap-40 {
    gap: 40px;
}

.flex-centered {
    display: flex;
    align-items: center;
    justify-content: center;
}
.hor-align {
    justify-content: center;
}
.vert-align {
    align-items: center;
}
.flex {
    display: flex;
}

/* background-color */

.bg-white {
    background-color: white;
}
.bg-black {
    background-color: black;
}
.bg-theme1 {
    background-color: var(--analysis1);
}
.bg-shadow {
    box-shadow: var(--shadow-border);
}

/* color */
.c-white {
    color: white;
}

/* border-radius */
.b-radius-2 {
    border-radius: 2px;
}
.b-radius-3 {
    border-radius: 3px;
}
.b-radius-4 {
    border-radius: 4px;
}
.b-radius-5 {
    border-radius: 5px;
}

/* font-weights */

.font-400 {
    font-weight: 400;
}
.font-500 {
    font-weight: 500;
}
.font-600 {
    font-weight: 600;
}
.font-700 {
    font-weight: 700;
}

/* font-sizes */

.font-1 {
    font-size: 1rem;
}
.font-0_9 {
    font-size: 0.9rem;
}
.font-0_8 {
    font-size: 0.8rem;
}

/* height */
.h-35 {
    height: 35px;
}
.h-30 {
    height: 30px;
}

/* weight */
.w-400 {
    width: 400px;
}
.w-320 {
    width: 320px;
}
.w-300 {
    width: 300px;
}

/* position */
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.hidden {
    display: hidden;
}
