.flex-row {
    display: flex;
}
.flex-col {
    display: flex;
    flex-direction: column;
}
.wrap {
    flex-wrap: wrap;
}
.gap-1 {
    gap: 1px;
}
.gap-20 {
    gap: 20px;
}
.gap-30 {
    gap: 30px;
}
.gap-40 {
    gap: 40px;
}
.gap-60 {
    gap: 60px;
}

.flex-centered {
    display: flex;
    align-items: center;
    justify-content: center;
}
.hor-align {
    justify-content: center;
}
.vert-align {
    align-items: center;
}
.flex {
    display: flex;
}

/* background-color */

.bg-white {
    background-color: white;
}
.bg-black {
    background-color: black;
}
.bg-theme1 {
    background-color: var(--analysis1);
}
.bg-shadow {
    box-shadow: var(--shadow-border);
}

/* color */
.c-white {
    color: white;
}
.c-theme2 {
    color: var(--analysis2)
}
/* border-radius */
.b-radius-2 {
    border-radius: 2px;
}
.b-radius-3 {
    border-radius: 3px;
}
.b-radius-4 {
    border-radius: 4px;
}
.b-radius-5 {
    border-radius: 5px;
}

/* font-weights */

.font-400 {
    font-weight: 400;
}
.font-500 {
    font-weight: 500;
}
.font-600 {
    font-weight: 600;
}
.font-700 {
    font-weight: 700;
}

/* font-sizes */

.font-1 {
    font-size: 1rem;
}
.font-1_2 {
    font-size: 1.2rem;
}
.font-0_9 {
    font-size: 0.9rem;
}
.font-0_8 {
    font-size: 0.8rem;
}
.font-0_7 {
    font-size: 0.7rem;
}

/* height */
.h-15 {
    height: 15px;
}
.h-20 {
    height: 20px;
}
.h-35 {
    height: 35px;
}
.h-30 {
    height: 30px;
}
.h-40 {
    height: 40px;
}
.h-45 {
    height: 45px;
}
.h-50 {
    height: 50px;
}

/* weight */
.w-50 {
    width: 50px;
}
.w-70 {
    width: 70px;
}
.w-100 {
    width: 100px;
}
.w-120 {
    width: 120px;
}
.w-150 {
    width: 150px;
}
.w-180 {
    width: 180px;
}
.w-366 {
    width: 366px;
}
.w-400 {
    width: 400px;
}
.w-450 {
    width: 450px;
}
.w-320 {
    width: 320px;
}
.w-300 {
    width: 300px;
}
.w-350 {
    width: 350px;
}
.w-460 {
    width: 460px;
}
.w-600 {
    width: 600px;
}
.w-500 {
    width: 500px;
}
.w-507 {
    width: 507px;
}
.w-33p {
    width: 33%;
}

/*padding*/
.p-3 {
    padding: 3px;
}
.lp-10 {
    padding-left: 10px;
}
.lp-12 {
    padding-left: 12px;
}
.lp-15 {
    padding-left: 15px;
}
.lp-20 {
    padding-left: 20px;
}
/* position */
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.hidden {
    display: hidden;
}
.fit-content {
    height: fit-content;
    width: fit-content;
}
