.flex-row {
    display: flex;
}
.flex-col {
    display: flex;
    flex-direction: column;
}
.flex-grow {
    flex-grow: 1;
}
.wrap {
    flex-wrap: wrap;
}
.gap-1 {
    gap: 1px;
}
.gap-20 {
    gap: 20px;
}
.gap-30 {
    gap: 30px;
}
.gap-40 {
    gap: 40px;
}
.gap-50 {
    gap: 40px;
}
.gap-60 {
    gap: 60px;
}
.gap-100 {
    gap: 100px;
}
.gap-120 {
    gap: 120px;
}
.gap-140 {
    gap: 140px;
}

.flex-centered {
    display: flex;
    align-items: center;
    justify-content: center;
}
.hor-align {
    justify-content: center;
}
.vert-align {
    align-items: center;
}
.justify-evenly {
    justify-content: space-evenly;
}
.flex {
    display: flex;
}

/* background-color */

.bg-white {
    background-color: white;
}
.bg-black {
    background-color: black;
}
.bg-theme1 {
    background-color: var(--analysis1);
}
.bg-shadow {
    box-shadow: var(--shadow-border);
}
.bg-dark {
    background-color: var(--dark);
}

/* color */
.c-white {
    color: white;
}
.c-theme2 {
    color: var(--analysis2)
}
/* border-radius */
.b-radius-2 {
    border-radius: 2px;
}
.b-radius-3 {
    border-radius: 3px;
}
.b-radius-4 {
    border-radius: 4px;
}
.b-radius-5 {
    border-radius: 5px;
}

/* font-weights */

.font-400 {
    font-weight: 400;
}
.font-500 {
    font-weight: 500;
}
.font-600 {
    font-weight: 600;
}
.font-700 {
    font-weight: 700;
}

/* font-sizes */

.font-1 {
    font-size: 1rem;
}
.font-1_1 {
    font-size: 1.1rem;
}
.font-1_2 {
    font-size: 1.2rem;
}
.font-0_9 {
    font-size: 0.9rem;
}
.font-0_8 {
    font-size: 0.8rem;
}
.font-0_7 {
    font-size: 0.7rem;
}
.font-0_6 {
    font-size: 0.6rem;
}
.font-0_5 {
    font-size: 0.5rem;
}

/* height */
.h-15 {
    height: 15px;
}
.h-20 {
    height: 20px;
}
.h-35 {
    height: 35px;
}
.h-30 {
    height: 30px;
}
.h-40 {
    height: 40px;
}
.h-45 {
    height: 45px;
}
.h-50 {
    height: 50px;
}
.h-70 {
    height: 70px;
}
.h-80 {
    height: 80px;
}
.h-85 {
    height: 85px;
}

/* weight */
.w-15 {
    width: 15px;
}
.w-20 {
    width: 20px;
}
.w-25 {
    width: 25px;
}
.w-30 {
    width: 30px;
}
.w-35 {
    width: 35px;
}
.w-40 {
    width: 40px;
}
.w-45 {
    width: 45px;
}
.w-55 {
    width: 55px;
}
.w-50 {
    width: 50px;
}
.w-60 {
    width: 60px;
}
.w-65 {
    width: 65px;
}
.w-70 {
    width: 70px;
}
.w-75 {
    width: 75px;
}
.w-80 {
    width: 80px;
}
.w-90 {
    width: 90px;
}
.w-100 {
    width: 100px;
}
.w-110 {
    width: 110px;
}
.w-120 {
    width: 120px;
}
.w-130 {
    width: 130px;
}
.w-140 {
    width: 140px;
}
.w-150 {
    width: 150px;
}
.w-180 {
    width: 180px;
}
.w-200 {
    width: 200px;
}
.w-280 {
    width: 280px;
}
.w-366 {
    width: 366px;
}
.w-400 {
    width: 400px;
}
.w-447 {
    width: 447px;
}
.w-450 {
    width: 450px;
}
.w-467 {
    width: 467px;
}
.w-320 {
    width: 320px;
}
.w-300 {
    width: 300px;
}
.w-350 {
    width: 350px;
}
.w-460 {
    width: 460px;
}
.w-600 {
    width: 600px;
}
.w-500 {
    width: 500px;
}
.w-507 {
    width: 507px;
}
.w-33p {
    width: 33%;
}

/*padding*/
.p-3 {
    padding: 3px;
}
.pt-2{
    padding-top: 2px;
}
.pt-3{
    padding-top: 3px;
}
.pl-2{
    padding-left: 2px;
}
.pl-3{
    padding-left: 3px;
}
.pl-5{
    padding-left: 5px;
}
.pl-8{
    padding-left: 8px;
}
.pl-10{
    padding-left: 10px;
}

.lp-10 {
    padding-left: 10px;
}
.lp-12 {
    padding-left: 12px;
}
.lp-15 {
    padding-left: 15px;
}
.lp-20 {
    padding-left: 20px;
}
.pr-10 {
    padding-right: 10px;
}
.pr-30 {
    padding-right: 30px;
}

/* margin */
.mt-10{
    margin-top: 10px;
}
.m-10{
    margin: 10px;

}
.mb-1 {
    margin-bottom: 1px;
}
.mb-2 {
    margin-bottom: 2px;
}
/* position */
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.hidden {
    display: hidden;
}
.fit-content {
    height: fit-content;
    width: fit-content;
}

.red-error {
    color: red;
    font-size: medium;
    font-weight: bold;
}
