.spellbox {
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: fit-content;
    padding: 3px;
    border: 1px dotted black;
    border-radius: 2px;
    cursor: default;
}
.spellbox:hover {
    border: 4px solid black;
}
.spellbox_header {
    display: flex;
    flex-direction: row;
    height: 30px;
}
.spellbox_name {
    width: 235px;
    font-weight: 600;
    font-size: 1.1rem;
    padding-top: 0.3rem;
    padding-left: 10px;
}
.spellbox_fig{
    width: 90px;
    text-align: center;
    font-weight: 600;
    font-size: 1.1rem;
    padding-top: 0.3rem;
}
.spellbox_balls {
    width: 45px;
    font-size: 0.7rem;
    font-weight: 300;
    padding-top: 10px;
    padding-left: 15px;
}
.spellbox_header2 {
    height: 25px;
    display: flex;
    flex-direction: row;
}
.spellbox_teamname {
    font-weight: 600;
    font-size: 0.9rem;
    padding-top: 0.2rem;
    padding-left: 10px;
    width: 350px;
}

.spellbox_vs_team {
    width: 60px;
    text-align: left;
    font-size: 0.8rem;
    font-weight: 600;
    padding-top: 0.2rem;
}
.spellbox_empty {
    width: 60px;
}
.spellbox_labels {
    display: flex;
    flex-direction: row;
    text-align: center;
    height: 25px;
    font-size: 0.7rem;
    font-weight: 500;
    padding-top: 0.3rem;
    /*border-top: 1px solid white;*/
}
.spellbox_data {
    display: flex;
    flex-direction: row;
    text-align: center;
    height: 30px;
    font-size: 0.8rem;
    font-weight: 400;
    /*border-top: 1px solid white;*/
}
.spellbox_label_item {
    width: 40px;
}
.spellbox_data_item {
    width: 40px;
    padding-top: 0.4rem;
}
.spellbox_label_item_sr {
    width: 70px;
}
.spellbox_data_item_sr {
    width: 70px;
    padding-top: 0.4rem;
}
.spellbox_bold {
    font-weight: 700;
    font-size: 1rem;
    padding-top: 0.2rem;
}
.spellbox_body {
    display: flex;
    flex-direction: column;
}
.spellbox_info {
    display: flex;
    flex-direction: column;
}
