.listcards{
    margin: 25px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 5px;
    background-color: var(--white);
    box-shadow: var(--shadow-border);
}

.listcards_header{
    text-align: center;
    color: black;
    height: 40px;
    font-weight: 600;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
