.listcard_item{
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: fit-content;
}
.listcard_item_sl_no{
    text-align: center;
    font-weight: 600;
    font-size: 1rem;
    width: 40px;
    padding-top: 1rem;
}
